.content {
  max-width: 51em;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

.bodyContent {
  position: relative;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
}

.tokenItems::-webkit-scrollbar {
  width:8px
}

.tokenItems::-webkit-scrollbar-track {
  background:#E4E8F1
}

.tokenItems::-webkit-scrollbar-thumb {
  border-radius:6px;
  background:#A2A8BA
}

.tokenItems {
  align-content: flex-start;
  width: 100%;
  height: 441px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  overflow-y: auto;
  padding: 0 0 20px;
  box-sizing: border-box;
}

.tokenItems p {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.tokenItems p::before {
  top: 5px;
}

.tokenItems p::after {
  top: 10px;
}

.tokenLogo {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}
