
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

button {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
