* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

button {
  background: $blue;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  height: 40px;
  margin-bottom: 10px;
  outline: 0;
  padding: 10px;
  width: 100%;
}

button:active {
  background: rgba(8, 98, 117, .4);
}
