@import "../../core/_variables";

.button,
a.button {
  background: $blue;
  display: block;
  flex: 1;
  text-align: center;
  padding: 0 2em;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: $medium;
  letter-spacing: .1em;
  font-size: 1.4em;
  color: $white;
  line-height: 1;
  vertical-align: middle;
  will-change: box-shadow;
  transition: box-shadow .25s ease-in-out;
  cursor: pointer;
  outline: 0;
  margin: auto;
  border: 0;
  height: 3em;
  text-transform: uppercase;
  box-shadow: 0 2px 4px 0 rgba(40,178,250,0.25);
  border-radius: 4px;

  &:hover {
    // box-shadow: 0 6px 14px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.15);
  }

  &.button-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.round {
    border-radius: 100px;
  }

  &.naked {
    box-shadow: none;
    background: 0;
    color: $greyText;
  }

  &.white {
    background: $white;
    color: $black;
    padding: 18px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  }
}

.buttonExit {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 24px;
  font-size: 28px;
  font-family: $arial;
  color: $darkBlue;
  background: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  will-change: color;
  transition: color .25s ease;
  font-weight: bold;
  padding: 0;
  margin: 0;
  z-index: 10;

  &:hover {
    color: $greyText;
  }

  &::after {
    content: $x;
    display: block;
    font-family: inherit;
    font-size: inherit;
  }
}

// .buttonPrev {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 15px;
//   height: 18px;
//   width: 24px;
//   border: 0;
//   cursor: pointer;
//   outline: 0;
//   opacity: .5;
//   will-change: opacity, transform;
//   transition: transform .25s ease-in-out, opacity .25s ease-in-out;
//   bottom: 0;
//   margin: auto;
//   background: url('#{$images}arrowPrev.svg') no-repeat center / contain;

//   &:hover {
//     opacity: 1;
//     transform: translateX(-1px);
//   }
// }
