form > span {
  width: 100%;
  position: relative;
  margin: 2em 0 1em;

    &::after {
      bottom: 0;
      margin: auto;
      position: absolute;
      right: 1.2em;
      top: 0;
      height: 16px;
      width: 16px;
    }

    &[data-validation="OK"] {
      &::after {
        content: "";
        background: url(/assets/images/check_ok.svg) center/contain no-repeat;
      }

      input {
        color: $green;
        border: solid 2px $green;
      }
    }

    &[data-validation="ERROR"] {
      &::after {
        content: "";
        background: url(/assets/images/check_error.svg) center/contain no-repeat;
      }

      input {
        color: $red;
        border: solid 2px $red;
      }
    }
}

form input {
  border-radius: 6px;
  background-color: $white;
  border: solid 2px #c8ced4;
  width: 100%;
  padding: .9em;
  font-size: 1.6em;
  color: $blue;
  letter-spacing: 0;
  line-height: 1.7em;
  font-weight: $normal;
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  will-change: border color;
  transition: all .3s ease-in-out;

    &::placeholder {
      color: #65707E;
      $font-weight: $normal;
      transition: all .2s ease-in-out;
    }

    &:focus {
      border: solid 2px $blue;
    }

    &:focus::placeholder {
      color: $white;
    }

    &.noborder {
      border: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 2px 0 rgba(33,67,90,0.15);
      border-radius: 2px;
      font-size: 1.5em;
      padding: 7px 14px;
    }
}