.button {
  display: flex;
  padding: 10px 2em;
  margin: 0 20px;
  height: 38px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 1.5px 0 rgba(40, 54, 61, 0.18);
  background: $green;
  color: $white;
  justify-content: center;
  font-family: Averta;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  flex: 1;
}

.naked {
  background: none;
  box-shadow: none;
  color: $grey;
  padding: 10px;
}
