.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid $border;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background: $white;
}

.menuTrigger {
  position: absolute;
  left: 20px;
  z-index: 10;
}

.menuTrigger:hover {
  cursor: pointer;
}

.line {
  width: 20px;
  height: 2px;
  background: #A2A8BA;
  display: block;
  margin: 4px auto;
  transition: all .2s ease-in-out;
}

.innerOverlay,
.innerOverlayContent {
  display: -ms-flexbox;
  width: 100%;
  position: absolute;
}
