@import "_variables";

@font-face {
  font-family: 'Roboto';
  src: url("#{$fonts}roboto-light.woff2") format("woff2");
  font-weight: $lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$fonts}roboto-regular.woff2") format("woff2");
  font-weight: $normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$fonts}roboto-medium.woff2") format("woff2");
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$fonts}roboto-bold.woff2") format("woff2");
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url("#{$fonts}roboto-mono.woff2") format("woff2");
  font-weight: $normal;
  font-style: normal;
}