.network-notification {
  background:  $red;
  height: 46px;
  display:  flex;
  -ms-flex-wrap:  nowrap;
  flex-wrap:  nowrap;
  -ms-flex-pack:  center;
  justify-content:  center;
  -ms-flex-align:  center;
  align-items:  center;
  -ms-flex-line-pack:  center;
  align-content:  center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.network-notification::before  {
  content: "";
  background: url(./assets/no-connection.svg) 10px 0/contain no-repeat;
  height: 20px;
  width: 24px;
  display: block;
  padding-right: 20px;
}

.network-notification > div > p {
  font-size:  13px;
  color:  $white;
  letter-spacing:  0;
  line-height:  1.1;
  text-align: left;
  margin: 0;
}
