@import "../../core/_variables";

.safeIcon {
  background: url('#{$images}gnosis_safe_icon.svg') no-repeat 0 / contain;
  height: 32px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;

    > i {
      margin: 0 0 0 35px;
      flex: 1;
      font-size: 1.8em;
      color: $darkBlue;
      letter-spacing: -.5px;
      font-style: normal;
      font-weight: $normal;
      outline: 0;
      min-width: 25px;
    }

    &.hasMenu::after {
      content: "";
      background: url('#{$images}carret-down.svg') no-repeat center / contain;
      width: 8px;
      height: 6px;
      display: block;
      position: absolute;
      right: -12px;
    }
}

.extension {
  width: $extension-width;
  height: 550px;
  overflow: hidden;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
  border-radius: 2px;
  will-change: transform;
  transform: translateZ(0);
  background: $white;

    &.welcome,
    &.password1,
    &.password2,
    &.unlockSafe
     {
      background: fixed, url('#{$images}mountain.svg') no-repeat bottom / contain, linear-gradient(-180deg, #FFFFFF 50%, #E4E8F1 100%);
    }
}

.extension-inner {
  height: 100%;
  position: relative;
  > header {
    height: 58px;
    width: 100%;
    border-bottom: 1px solid $greyBorder;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    position: relative;

      &.no-border {
        border-bottom: 1px solid transparent;
      }
  }

  > .content {
    position: relative;
  }

  > .content > h1 {
    letter-spacing: 0;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    padding: 1.5em 1.5em 0;
    line-height: 1.3;
    width: 100%;
  }
}

.menuTrigger {
  position: absolute;
  left: 20px;
  z-index: 10;

  &:hover {
    cursor: pointer;
  }

  .line {
    width: 20px;
    height: 2px;
    background-color: #A2A8BA;
    display: block;
    margin: 4px auto;
    transition: all .2s ease-in-out;
  }

  &.active .line:nth-child(2){
    opacity: 0;
  }

  &.active .line:nth-child(1){
    transform: translateY(5px) rotate(45deg);
  }

  &.active .line:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
  }
}

.innerOverlay {
  // height: 100%;
  height: calc(100% - 58px);
  width: 100%;
  position: absolute;
  top: 58px;
  display: flex;
  flex-wrap: wrap;

    &::before {
      background: #E4E8F1;
      opacity: .85;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
    }
}

.innerOverlayContent {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5em;
  box-sizing: border-box;
  align-content: center;

    > p {
      font-size: 1.6em;
      line-height: 1.3;
      color: $darkBlue;
      font-weight: $normal;
    }
}

.QR {
  box-shadow: 0 2px 10px 0 rgba(33,67,90,.15);
  border-radius: 6px;
  padding: 3.5em 2em;
  margin: 0 auto 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background: $white;
  width: 100%;
  max-width: 230px;
  flex: 1;
  justify-content: center;
  align-items: center;

    .identicon {
      width: 32px;
      height: 32px;
      border: 0;
      display: inline-block;
      pointer-events: none;
    }

    > div {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 0 0 25px;
        > img { padding: 0 6px 0 0; }
        > p {
          margin: 0;
          word-break: break-all;
          text-align: left;
          font-size: 1.3em;
        }
    }

    p {
      display: block;
      margin: -.5em auto 1.4em;
      letter-spacing: 1px;
      font-family: $mono;
      font-size: 1.4em;
      line-height: 1.2;
      text-align: center;
    }
}

.lockedState {
  position: absolute;
  right: 14px;
  cursor: pointer;
  transition: all .15s ease-in-out;

  &[data-locked] {
    width: 18px;
    height: 16px;
  }

  &[data-locked="true"] {
    background: url('/assets/images/locked.svg') no-repeat center/contain;
  }

  &[data-locked="false"] {
    background: url('/assets/images/unlocked.svg') no-repeat center/contain;
  }

  &:not([data-locked="true"])[data-timeout]::before {
    content: attr(data-timeout);
    position: absolute;
    left: -37px;
    top: 7px;
    font-size: 1em;
    color: $grey;
    letter-spacing: -0.5px;
    text-align: right;
    font-family: $mono;
  }

}

.whitelister {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: $white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12);
  font-size: .9em;
  margin: 0 auto 10px;

    p {
      color: inherit;
      font-size: 1.4em;
      transition: color .3s ease-in-out;
    }

    &[data-whitelisted] {

    }

    &[data-whitelisted="true"] {
      color: $green;
    }

    &[data-whitelisted="false"] {
      color: $greyText;
    }
}

.whitelistSwitch {
  position: relative;

  $switch-width: 40px; // Change Me
  $switch-height: $switch-width / 2.5;

  label {
    display: block;
    width: $switch-width;
    height: $switch-height;
    cursor: pointer;
  }

  input[type='checkbox'] {
    display: none;

    &:checked ~ .toggle {
      background: $green url('/assets/images/allow.svg') no-repeat center / 11px 10px;
      left: ($switch-width - ($switch-height * 1.4 - $switch-height) / 2) - $switch-height;
      transition: all .3s ease-in-out;
      box-shadow: 0 1px 1px 0 rgba(2,174,96,0.24);
    }

    &:checked ~ .switch {
      background: $greyBorder;
      transition: all .3s ease-in-out;
    }
  }

  .switch {
    display: block;
    width: $switch-width;
    height: $switch-height;
    background: $greyBorder;
    border-radius: $switch-height / 2;
    position: absolute;
    top: 0;
    transition: all .3s ease-in-out;
  }

  .toggle {
    height: $switch-height * 1.4;
    width: $switch-height * 1.4;
    border-radius: 50%;
    background: $red url('/assets/images/block.svg') no-repeat center / 12px 12px;
    position: absolute;
    top: ($switch-height * 1.4 - $switch-height) / -2;
    left: ($switch-height * 1.4 - $switch-height) / -2;
    box-shadow: 0 1px 1px 0 rgba(234,63,82,0.24);
    transition: all .3s ease-in-out;
  }
}

.safeMenu {
  width: 310px;
  background: rgba(33,67,90,.95);
  box-shadow: 0 2px 4px 0 rgba(33,67,90,.25);
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 100px;
  height: auto;
  top: 54px;
  z-index: 99;
  opacity: 0;
  transition: all .2s ease-in-out;
  transform-origin: center top;
  transform: scale(0);
  visibility: hidden;
  overflow: visible;

    &.active {
      opacity: 1;
      transform: scale(1);
      visibility: visible;

      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid rgba(33,67,90,.95);
        position: absolute;
        left: 0;
        right: 0;
        top: -8px;
        margin: auto;
      }
    }

    > ul {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      padding: 20px 0 0;
      box-sizing: border-box;
      align-items: flex-start;
      align-content: flex-start;
      list-style-type: none;
    }

    > ul > li {
      flex: 1 1 auto;
      margin: 0 0 2px;
      padding: 1em 84px 1em 45px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $white;
      cursor: pointer;
      transition: all .2s ease-in-out;
      position: relative;

        &:hover {
          background: rgba(40, 178, 250, 0.5);
        }

        &:hover .safeTools {
          visibility: visible;
          opacity: 1;
        }

        &.active::before {
          content: "";
          background: url('/assets/images/allow.svg') no-repeat center/15px 12px;
          display: block;
          position: absolute;
          left: 15px;
          height: 15px;
          width: 15px;
        }

        &.safeMenu_newSafe {
          height: 58px;
          margin: 1em 0 0;
            > p {
              font-size: 1.5em;
            }
        }

        &.safeMenu_newSafe::before {
          content: "";
          background: url('/assets/images/plus_round_white.svg') no-repeat center/16px;
          display: block;
          position: absolute;
          left: 15px;
          height: 16px;
          width: 16px;
        }

        &.safeMenu_newSafe::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background: rgba(255,255,255,.25);
          top: 0;
        }
    }

    > ul > li > span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    > ul > li > img {
      margin: 0 10px 0 0;
    }

    > ul > li > span > p {
      width: 100%;
      font-size: 1.4em;
      text-align: left;
      line-height: 1.2;
      color: inherit;
      margin: 0;
      position: relative;
    }

    > ul > li > span > p[contenteditable="true"] {
      border: 1px dashed $blue;
      border-radius: 3px;
      padding: 4px;
      outline: 0;

        ~ .safeTools .safeTools_edit,
        ~ .safeTools .safeTools_delete {
          display: none;
        }

        ~ .safeTools {
          visibility: visible;
          opacity: 1;
        }

        ~ .safeTools .safeTools_save {
          display: block;
        }
    }

    > ul > li > span > small {
      font-family: $mono;
      font-size: 1.2em;
      color: $white;
      opacity: .7;
      text-align: left;
      line-height: 1.5;
    }

    > ul > li > p {
      width: 100%;
      font-size: 1.4em;
      text-align: left;
      line-height: 1.2;
      color: inherit;
      margin: 0;
    }
}

.safeTools {
  position: absolute;
  right: 20px;
  top: 13px;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;

    > img {
      opacity: 0.7;
      transition: opacity .3s ease-in-out;
    }

    > img:not(:last-child) {
      margin: 0 20px 0 0;
    }

    > img:hover {
      opacity: 1;
    }


    .safeTools_save {
      cursor: pointer;
      display: none;
      background: $white;
      color: $darkBlue;
      font-weight: $bold;
      font-size: 1em;
      letter-spacing: 0;
      border-radius: 3px;
      margin: auto;
      height: 21px;
      line-height: 1;
      border: 0;
      appearance: none;
    }
}

.safeDrawerMenu {
  transform: translateX(-370px);
  visibility: hidden;
  will-change: transform,opacity;
  transition: all .2s ease-in-out;
  background: $white;
  height: 490px;
  width: 80%;
  position: absolute;
  left: 0;
  top: 59px;
  border-top: 1px solid $greyBorder;
  z-index: 999;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  color: $greyText;

    &::before {
      content: "";
      transform: translateX(600px);
      transition: all .2s ease-in-out;
      z-index: -1;
    }

    &.active {
      transform: translateX(0);
      visibility: visible;

        &::before {
          content: "";
          transform: translateX(0);
          position: absolute;
          left: 0;
          height: 100%;
          width: 100%;
          box-shadow: 100px 0 0 0 rgba(26,73,119,.6);
        }
    }

    > li {
      width: 100%;
      height: auto;
      line-height: 1;
      padding: 20px 20px;
      color: inherit;
      font-size: 1.3em;
      font-weight: $normal;
      box-sizing: border-box;
      transition: background .2s ease-in-out;
      cursor: pointer;

        &:hover {
          background: $greyBorder;
        }

        &[data-menu]::before {
          content: "";
          display: inline-block;
          margin: 0 10px 2px 0;
          height: 16px;
          width: 16px;
          vertical-align: middle;
        }

        &[data-menu="whitelist"]::before {background: url('/assets/images/menu_whitelist.svg') no-repeat center/contain;}
        &[data-menu="timeout"]::before {background: url('/assets/images/menu_timeout.svg') no-repeat center/contain;}
        &[data-menu="password"]::before {background: url('/assets/images/menu_password.svg') no-repeat center/contain;}
    }
}

.settingsPage {
  background: #F4F5F9;
  width: 100%;
  height: calc(100% - 62px);
  position: absolute;
  top: 59px;
  z-index: 9;
  border-top: 1px solid $greyBorder;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  transform: translateX(-370px);

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }

    &[data-page="whitelist"] {

    }

    &[data-page="timeout"] {

    }

    &[data-page="password"] {
      form > button {
        margin-top: 25px;
      }
    }

    .warning-password {
      margin: 0;
    }
}

.settingsPageHeader {
  height: 48px;
  padding: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 1px solid $greyBorder;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;

    > h2 {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      width: 210px;
      line-height: 1;
      font-weight: $normal;
      font-size: 1.6em;
      color: $darkBlue;
    }

    .btn-back {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      height: 100%;
      transition: all .3s ease-in-out;
      pointer-events: none;
      text-decoration: none;

        &.active {
          pointer-events: auto;
          > p { color: $blue; }
        }

        > p {
          color: #A2A8BA;
          font-size: 1.5em;
          padding: 0 0 0 25px;
          font-weight: $medium;
          font-size: 14px;
          letter-spacing: 0;
        }
    }

    .btn-back {
      background: url("/assets/images/arrow-left-grey.svg") no-repeat center / contain;
      width: 15px;
      transition: transform .25s ease-in-out;

        &.active {
          background: url("/assets/images/arrow-left-blue.svg") no-repeat center / contain;

            &:hover {
              transform: translateX(-2px);
            }
        }
    }

    .action_DeleteAll {
      font-weight: $normal;
      font-size: 1em;
      color: $red;
      text-align: right;
      line-height: 1;
      text-decoration: none;
    }
}

.whitelist_add {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 20px 0;

    > form {
      flex: 1;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    > form > input {
      flex: 1;
    }

    > form > p {
      width: 100%;
      margin: 5px auto 0;
      text-align: left;
    }

    > form > button {
      flex: 0 1 auto;
      padding: 0 1em;
      margin: 0 0 0 10px;
      font-size: 1.3em;
    }
}

.whitelist_items {
  list-style-type: none;
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: auto;
  padding: 0 0 50px;
  box-sizing: border-box;
  height: 362px;

    > li {
      background: $white;
      border-bottom: 1px solid $greyBorder;
      width: 100%;
      padding: 14px 20px;
      font-weight: $normal;
      font-size: 1.2em;
      color: $darkBlue;
      transition: all .3s ease-in-out;
      position: relative;

        &:hover {
          background: $greyBorder;
        }

        &::before {
          content: "";
          background: url('/assets/images/check_ok_green.svg') no-repeat center/contain;
          width: 14px;
          height: 14px;
          display: inline-block;
          margin: 0 7px 0 0;
          vertical-align: middle;
        }

        > button {
          position: absolute;
          right: 20px;
          background: url('/assets/images/trash_grey.svg') no-repeat center/contain;
          height: 14px;
          width: 14px;
          cursor: pointer;
          border: 0;
          appearance: none;
          transition: transform .2s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    // Track
    &::-webkit-scrollbar-track {
        background: $greyBorder;
    }

    // Handle
    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: $grey;
    }
}

.settingsPageContent {
  width: 100%;
  position: relative;
  // height: inherit;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.timeout_items {
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: auto;
  padding: 0 0 50px;
  box-sizing: border-box;

    .radio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: flex-start;
      background: $white;
      border-bottom: 1px solid $greyBorder;
      width: 100%;
      padding: 15px;
      margin: 0;
      font-weight: $normal;
      font-size: 1.3em;
      color: $darkBlue;
      transition: all .3s ease-in-out;
      position: relative;
    }
}

.external-link {
  &::after {
    content: "";
    background: url('/assets/images/external_link.svg') no-repeat center/contain;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin: 0 0 0 5px;
    vertical-align: middle;
  }
}
