.warning-password {
  width: 100%;
  padding: 1em 1.5em;
  background: #fdf5ec;
  display: flex;
  flex-wrap: nowrap;
  margin: 2em auto 0;
  box-sizing: border-box;

  > img {
    padding: 0 .8em 0 0;
  }

  > p {
    line-height: 1.5;
    letter-spacing: 0;
    color: #9a7e47;
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
  }
}


.password1,
.password2 {

  .safeIcon {
    width: 32px;
  }

}