.unlockSafe {

  .safeLogo {
    width: 72px;
    height: 72px;
    flex: 1 1 100%;
    margin: 40px auto 0;

      &::after {
        left: 0;
        right: 0;
        width: 100%;
        font-size: 0.8em;
      }
  }

  form {
    width: 100%;
  }

  form > input {
    text-align: center;

      &::placeholder {
        color: $grey;
      }

      &:focus::placeholder {
        color: $white;
      }
  }

  form > button {
    width: 100%;
    flex: 1 1 auto;
    margin: 15px 0 0;
  }

  .content > a {
    width: 100%;
    text-align: center;
    margin: 15px auto 0;
    font-size: 1.2em;
    font-weight: normal;
  }
}

.lockshape {
  background: url('/assets/images/lockshape.svg') no-repeat center/contain;
  width: 110px;
  height: 110px;
  margin: 50px auto;
  position: relative;
  flex: 1 1 100%;

    // path, svg {
    //   fill: #A2A8BA;
    // }

    &[data-validation="ERROR"] {
      animation: shake .5s linear;
       path {
          fill: $red;
        }
    }

    &[data-validation="OK"] {
      animation: rotate .7s linear;
       path {
          fill: $blue;
        }
    }
}

.lockshape_dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  background: url('/assets/images/lockshape_dots.svg') no-repeat center/contain;
  border-radius: 100%;
  transition: all 1s ease-in-out;
  transform: rotate(0deg);
}

#keyhole {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
