.content {
  max-width: 51em;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

.contentBody {
  position: relative;
  height: auto;
  width: 100%;
  padding: 10px 20px 20px;
}

.contentBody * {
  color: $darkBlue;
  font-size: 13px;
  opacity: 1;
  font-family: Averta, Helvetica, sans-serif;
}

.contentBody .object-key {
  opacity: 1;
}
