footer {
  height: 46px;
  background: $white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 1.5em;
  box-sizing: border-box;

  .btn-back,
  .btn-next {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    transition: all .3s ease-in-out;
    pointer-events: none;

      &.active {
        pointer-events: auto;
        > p { color: $blue; }
      }

      > p {
        color: #A2A8BA;
        font-size: 1.5em;
      }
  }

  .btn-back {
    background: url("/assets/images/arrow-left-grey.svg") no-repeat center / contain;
    width: 15px;

      &.active {
        background: url("/assets/images/arrow-left-blue.svg") no-repeat center / contain;
      }
  }

  .btn-next,
  a.btn-next {
    text-decoration: none;

    &::after {
      content: "";
      display: inline-block;
      background: url("/assets/images/arrow-right-grey.svg") no-repeat center / contain;
      width: 15px;
      height: 15px;
      margin: 0 0 0 1em;
      pointer-events: none;
    }
    &.active::after {
      content: "";
      background: url("/assets/images/arrow-right-blue.svg") no-repeat center / contain;
      pointer-events: auto;
    }
  }

  .stepper-dots {
    position: absolute;
    width: 70px;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

      > li {
        background: #E3E5EC;
        height: 8px;
        width: 8px;
        border-radius: 8px;
      }

      > li:not(:last-of-type) {
        margin: 0 .8em 0 0;
      }

      > li.active {
        background: $blue;
      }
  }

}