
html{
  width:100%;
  height:100%;
  padding:0;
  margin:0
}
body{
  background:#fff;
  color:#333;
  font-family: Averta, Helvetica, sans-serif;
  font-size:10px;
  line-height:10px;
  margin:0;
  text-rendering:geometricPrecision;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

::-moz-selection{
  color:#fff;
  background:$green
}
::selection{
  color:#fff;
  background:$green
}

select{
  outline:0
}
nav,ul{
  list-style:none;
  margin:0;
  padding:0
}
img{
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle
}
form{
  display: flex;
  flex-wrap: wrap
}

@media only screen and (max-width:736px){
  .hide-small{
      display:none!important
  }
}
@media only screen and (min-width:737px){
  .hide-on-med-and-up{
      display:none!important
  }
}
.hide{
  display:none!important
}

.text-red{
  color:#fb4f62
}
.text-green{
  color:#02ae60
}
@font-face{
  font-family: Averta;
  src:url("../fonts/averta-regular.woff2") format("woff2");
  font-weight:100;
  font-style:normal
}

.button.button-disabled,.button[disabled],a.button.button-disabled,a.button[disabled]{
  pointer-events:none;
  opacity:.5
}
.button.white,a.button.white{
  background:#fff;
  color:#333;
  padding:0 20px;
  font-size:2em;
  text-align:center;
  box-shadow:0 2px 4px 0 rgba(0,0,0,.25)
}


.progress{
  position:relative;
  height:5px;
  display:block;
  width:100%;
  background-color:$green;
  border-radius:10px;
  background-clip:padding-box;
  margin:.5rem 0 1rem;
  overflow: hidden
}
.progress .determinate{
  position:absolute;
  top:0;
  bottom:0;
  background-color:$green;
  transition:width .3s linear
}
.progress .indeterminate{
  background-color:#E4E8F1
}
.progress .indeterminate::after,.progress .indeterminate::before{
  content:'';
  position:absolute;
  background-color:inherit;
  top:0;
  left:0;
  will-change:left,right;
  bottom:0
}
.progress .indeterminate::before{
  animation:indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite
}
.progress .indeterminate::after{
  animation:indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;
  animation-delay:1.15s
}
@keyframes indeterminate{
  0%{
      left:-35%;
      right:100%
  }
  100%,60%{
      left:100%;
      right:-90%
  }
}
@keyframes indeterminate-short{
  0%{
      left:-200%;
      right:100%
  }
  100%,60%{
      left:107%;
      right:-8%
  }
}

.identicon{
  pointer-events:none;
  margin-right: 6px;
}

.extensionPopup{
  height:650px;
  overflow:hidden;
  border-radius:2px;
  background:#fff;
}
.extensionPopup .extension-inner .Page{
  background:#F4F5F9;
  width:100%;
  height:100%;
  height:calc(100% - 58px);
  position:absolute;
  top:58px;
  z-index:9;
  border-top:1px solid #E4E8F1;
  box-sizing:border-box;
  transition:all .3s ease-in-out
}
.extensionPopup .extension-inner .PageHeader{
  height:36px;
  padding:0 20px;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  width:100%;
  border-bottom:1px solid #E4E8F1;
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  box-sizing:border-box
}
.extensionPopup .extension-inner .PageHeader>h2{
  margin:0;
  text-align:center;
  width:auto;
  line-height:1;
  font-weight:500;
  font-size:1.2em;
  color:#21435A;
  text-transform:uppercase;
  letter-spacing:2px
}
.extensionPopup .extension-inner .PageHeader .pagination{
  -ms-flex:0 1 auto;
  flex:0 1 auto;
  margin:0 0 0 auto;
  height:100%;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:end;
  justify-content:flex-end;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:end;
  align-content:flex-end;
  z-index:2
}
.extensionPopup .extension-inner .PageHeader .pagination>p{
  margin:0 10px;
  color:#21435A;
  font-size:1.5em;
  font-weight:400
}
.extensionPopup .extension-inner .PageHeader .btn-back,.extensionPopup .extension-inner .PageHeader .btn-next{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  height:100%;
  transition:all .3s ease-in-out;
  pointer-events:none;
  text-decoration:none;
  width:15px
}
.extensionPopup .extension-inner .PageHeader .btn-back.active,.extensionPopup .extension-inner .PageHeader .btn-next.active{
  pointer-events:auto
}
.extensionPopup .extension-inner .PageHeader .btn-back.active>p,.extensionPopup .extension-inner .PageHeader .btn-next.active>p{
  color:$green
}
.extensionPopup .extension-inner .PageHeader .btn-back>p,.extensionPopup .extension-inner .PageHeader .btn-next>p{
  color:#A2A8BA;
  padding:0 0 0 25px;
  font-weight:500;
  font-size:14px;
  letter-spacing:0
}
.extensionPopup .extension-inner .PageHeader .btn-back{
  background:url(../images/arrow-left-grey.svg) center/contain no-repeat
}
.extensionPopup .extension-inner .PageHeader .btn-back:hover{
  transform:translateX(-2px)
}
.extensionPopup .extension-inner .PageHeader .btn-back.active{
  background:url(../images/arrow-left-green.svg) center/contain no-repeat
}
.extensionPopup .extension-inner .PageHeader .btn-next{
  background:url(../images/arrow-right-grey.svg) center/contain no-repeat
}
.extensionPopup .extension-inner .PageHeader .btn-next:hover{
  transform:translateX(2px)
}
.extensionPopup .extension-inner .PageHeader .btn-next.active{
  background:url(../images/arrow-right-green.svg) center/contain no-repeat
}
.extensionPopup .extension-inner .PageContent{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -ms-flex-align:start;
  align-items:flex-start;
  margin:20px auto 0;
  padding:0
}
.extensionPopup .extension-inner .transactionFrom,.extensionPopup .extension-inner .transactionRecipient{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width:100%;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  margin:0 auto;
  padding:0 20px
}
.extensionPopup .extension-inner .transactionFrom span,.extensionPopup .extension-inner .transactionRecipient span{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  word-break:break-all;
  box-sizing:border-box
}
.extensionPopup .extension-inner .transactionFrom .identicon,.extensionPopup .extension-inner .transactionRecipient .identicon{
  margin:0 10px 0 0
}
.extensionPopup .extension-inner .transactionFrom span p,.extensionPopup .extension-inner .transactionRecipient span p{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  font-size:1.3em;
  line-height:1.3;
  word-break:inherit
}
.extensionPopup .extension-inner .transactionFrom span p,.extensionPopup .extension-inner .transactionRecipient span p{
  margin: 0;
  text-align: left
}
.extensionPopup .extension-inner .transactionFrom span p i,.extensionPopup .extension-inner .transactionRecipient span p i{
  width:100%;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  font-style:normal;
  font-size:inherit;
  font-weight:500;
  color:#21435A;
  word-break:inherit
}
.extensionPopup .extension-inner .transactionFrom>span>p>small,.extensionPopup .extension-inner .transactionRecipient>span>p>small{
  width:100%;
  font-size:inherit;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  font-family:"Averta Mono",Courier,monospace;
  color:#A2A8BA;
  word-break:inherit;
  letter-spacing:-1px
}
.extensionPopup .extension-inner .transactionFrom>span>small,.extensionPopup .extension-inner .transactionRecipient>span>small{
  font-family:"Averta Mono",Courier,monospace;
  font-size:1.3em;
  color:#21435A;
  word-break:inherit;
  line-height:1.1;
  letter-spacing:-1px
}
.extensionPopup .extension-inner .transactionFrom>span:first-of-type{
  width:50%
}
.extensionPopup .extension-inner .transactionFrom>span:last-of-type{
  width:50%;
  text-align:right;
  -ms-flex-pack:end;
  justify-content:flex-end;
}
.extensionPopup .extension-inner .transactionValue,
.extensionPopup .extension-inner .replaceRecoveryPhrase {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  width:100%;
  position:relative;
  margin:0 auto 10px;
  padding:0 20px
}
.extensionPopup .extension-inner .transactionValue::before,
.extensionPopup .extension-inner .replaceRecoveryPhrase::before {
  content:"";
  height:21px;
  width:13px;
  background:url(../images/arrow-down.svg) 10px 0/contain no-repeat #F4F5F9;
  display:block;
  position:absolute;
  left:20px;
  top:16px;
  padding:0 30px 0 0
}
.extensionPopup .extension-inner .transactionValue::after,
.extensionPopup .extension-inner .replaceRecoveryPhrase::after {
  content:"";
  height:1px;
  width:80%;
  position:absolute;
  top:18px;
  left:20px;
  background:#E4E8F1;
  z-index:-1
}
.extensionPopup .extension-inner .transactionValue>strong {
  font-family:"Averta Mono",Courier,monospace;
  font-size:1.7em;
  color:#fb4f62;
  letter-spacing:-1px;
  text-align:right;
  line-height:1;
  font-weight:700;
  width:auto;
  margin:9px 0 0 auto;
  background:#F4F5F9;
  padding:0 0 0 15px;
  box-sizing:border-box;
  max-width:90%;
  word-wrap:break-word
}
.extensionPopup .extension-inner .replaceRecoveryPhrase>strong {
  font-family:"Averta",Courier,monospace;
  font-size:1.2em;
  color:#21435a;
  letter-spacing:0px;
  text-align:right;
  line-height:1;
  font-weight:700;
  width:auto;
  margin:9px 0 0 auto;
  background:#F4F5F9;
  padding:0 0 0 15px;
  box-sizing:border-box;
  max-width:90%;
  word-wrap:break-word
}
.replaceRecoveryPhraseDesc {
  font-family:"Averta",Courier,monospace;
  padding: 10px;
  margin-top: 10px;
  letter-spacing:0px;
  font-size:1.2em;
  line-height:1.3;
}
.extensionPopup .extension-inner .transactionValue>strong>small,
.extensionPopup .extension-inner .replaceRecoveryPhrase>strong>small {
  font-size:inherit;
  font-weight:inherit
}
.extensionPopup .extension-inner .transactionValue>small,
.extensionPopup .extension-inner .replaceRecoveryPhrase>small{
  font-family:"Averta Mono",Courier,monospace;
  font-size:1.3em;
  color:#A2A8BA;
  letter-spacing:-.5px;
  text-align:right;
  line-height:1;
  width:100%;
  margin:-3px auto 0;
  box-sizing:border-box;
  word-wrap:break-word
}
.extensionPopup .extension-inner .transactionSummary{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  width:100%;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:10px 20px;
  background:#E4E8F1;
  margin:20px 0
}
.extensionPopup .extension-inner .transactionSummary>span{
  width:100%;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -ms-flex-pack:justify;
  justify-content:space-between;
  font-size:1.3em;
  line-height:1;
  color:#65707E;
  margin:4px 0
}
.extensionPopup .extension-inner .transactionSummary>span>span{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  text-align:right;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  -ms-flex-pack:end;
  justify-content:flex-end
}
.extensionPopup .extension-inner .transactionSummary>span p{
  font-size:inherit;
  font-weight:inherit;
  color:inherit;
  margin: 0;
  text-align: left;
}
.extensionPopup .extension-inner .transactionSummary>span strong{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  font-size:inherit;
  font-weight:inherit;
  font-family:"Averta Mono",Courier,monospace;
  text-align:right;
  margin:0 0 2px;
  letter-spacing: -0.7px
}
.extensionPopup .extension-inner .transactionSummary>span small{
  font-size:inherit;
  text-align:right
}
.extensionPopup .extension-inner .transactionSummary>span>span>small{
  color:#A2A8BA
}
.extensionPopup .extension-inner .transactionSummary>span strong>small{
  margin:0 0 0 4px
}
.extensionPopup .extension-inner .transactionSummary .subtotal{
  font-weight:700;
  color:#21435A
}
.extensionPopup .extension-inner .transactionSummary .subtotal span>small{
  color:#A2A8BA;
  font-weight:400
}
.extensionPopup .extension-inner .transactionState{
  margin:0 auto;
  padding:0 20px
}
.extensionPopup .extension-inner .transactionState .await{
  width:100%;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  text-align:center
}
.extensionPopup .extension-inner .transactionState .await p{
  font-weight:500;
  font-size:1.2em;
  color:#65707E;
  letter-spacing:3px;
  text-align:center;
  width: 100%;
  margin:0;
  text-transform: uppercase
}
.extensionPopup .extension-inner .transactionState .message{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  width:75%;
  margin:5px auto 15px;
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-align:center;
  align-items:center
}
.extensionPopup .extension-inner .transactionState .message img{
  margin:0 15px 0 0;
  display: block
}
.extensionPopup .extension-inner .transactionState .message p{
  font-size:1.3em;
  color:#21435A;
  letter-spacing:0;
  line-height:1.5;
  margin: 0;
  text-align: left
}
.extensionPopup .extension-inner .transactionState .errorMessage {
  font-size: 1.3em;
  color: white;
  letter-spacing: 0;
  line-height: 1.5;
  background: #fb4f62;
  position: fixed;
  bottom: 54px;
  left: 0;
  text-align: center;
  padding: 1em;
  width: 100%;
  right: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.extensionPopup .extension-inner .transactionState .errorMessage>p{
  font-size:inherit;
  color:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  text-align: center;
}
.extensionPopup .extension-inner .transactionState .resend{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center
}
.extensionPopup .extension-inner .transactionState .resend>p{
  text-align:center;
  width:100%;
  margin:0 auto 8px;
  font-size:1.1em
}
.extensionPopup .extension-inner .transactionState .resend>button{
  color:$green;
  font-size:1.3em;
  font-weight:500;
  letter-spacing:1px;
  padding:0 10px
}

.extensionPopup .extension-inner .signMessageSummary{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  width:100%;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:10px 20px;
  margin:20px 0;
  border-top:1px solid #e4e8f1;
  color: #65707e;
}
.extensionPopup .extension-inner .signMessageSummary>span{
  width:100%;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;
  -ms-flex-pack:justify;
  font-size:1.3em;
  line-height:1;

  margin:4px 0
}
.extensionPopup .extension-inner .signMessageSummary>span>span{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  text-align:left;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  -ms-flex-pack:end;
  justify-content:flex-end;
  word-break:break-all
}
.extensionPopup .extension-inner .signMessageSummary>span p{
  font-size:inherit;
  font-weight:inherit;
  color:inherit;
  margin: 0;
  text-align: left;
  width: 110px;
  min-width: 110px;
  margin-right: 5px;
}
.extensionPopup .extension-inner .youAreSigning {
  text-align:center;
  padding-top:20px;
  width:100%;
  font-size:14px;
  color:#a2a8ba;
}
.extensionPopup .extension-inner .viewMessage {
  text-align:center;
  padding-bottom:25px;
  width:100%;
  font-size:13px;
  font-weight: bold;
}
.extensionPopup .extension-inner .viewMessageLink {
  text-decoration: none;
}

.extensionPopup .extension-inner .button-group>button{
  font-size:1.5em
}
