
html{
  width:100%;
  height:100%;
  padding:0;
  margin:0
}
body{
  background:#fff;
  color:#333;
  font-family: Averta, Helvetica, sans-serif;
  font-size:10px;
  line-height:10px;
  height: 100%;
  margin:0;
  text-rendering:geometricPrecision;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

::-moz-selection{
  color:#fff;
  background:$green
}
::selection{
  color:#fff;
  background:$green
}

select{
  outline:0
}
nav,ul{
  list-style:none;
  margin:0;
  padding:0
}
img{
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle
}
form{
  display: flex;
  flex-wrap: wrap
}

@font-face {
  font-family: Averta;
  src: url("../fonts/Averta-Regular.otf") format("opentype");
}

@font-face {
  font-family: Averta;
  src: url("../fonts/Averta-ExtraBold.otf") format("opentype");
  font-weight: bold;
}

.identicon{
  pointer-events:none;
  margin-right: 6px;
}
