
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  border-bottom: 1px solid #aaa;
  padding: 20px;
  width: 100%;
}

.header > div {
  float: right;
}

.header > div > .menu-elem {
  cursor: pointer;
  margin-left: 20px;
}

.container {
  padding: 20px;
  width: 100%;
}

p {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

button {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.dapp {
  border: 1px solid #aaa;
  margin-top: 10px;
  padding: 5px;
}

.dapp > .name {
  float: left;
  height: 30px;
  line-height: 30px;
}

.dapp > button {
  float: right;
  height: 30px;
  margin: 0;
  padding: 5px;
  width: 60px;
}

.clean {
  clear: both;
}