
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  border-bottom: 1px solid #aaa;
  padding: 15px;
  width: 100%;
}

.left-header,
.right-header {
  height: 30px;
  line-height: 30px;
}
.left-header {
  float: left;
}
.right-header {
  float: right;
}

.header .menu-elem {
  cursor: pointer;
  margin-left: 20px;
}

.container {
  padding: 20px;
  width: 100%;
  word-wrap: break-word;
}

.container > .title {
  padding: 0px 0 20px 0;
  text-align: center;
}

p {
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

button {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.dapp {
  border: 1px solid #aaa;
  margin-top: 10px;
  padding: 5px;
}

.dapp > .name {
  float: left;
  height: 30px;
  line-height: 30px;
}

.dapp > button {
  float: right;
  height: 30px;
  margin: 0;
  padding: 5px;
  width: 60px;
}

.download-apps {
  text-align: center;
  padding: 20px 0 20px 0;
}

.download-app {
  float: left;
  width: 50%;
}

.app-link {
  cursor: pointer;
  width: 135px;
}

.clean {
  clear: both;
}