.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  display: -ms-flexbox;
}

.safeLogo {
  height: 151px;
  width: 115px;
  display: block;
  position: relative;
  margin: 93px auto 25px;
}

.safeLogo[data-network='mainnet'] {
  background: url(assets/images/safe_logo_text_mainnet.svg) center/contain no-repeat;
}

.safeLogo[data-network='rinkeby'] {
  background: url(assets/images/safe_logo_text_rinkeby.svg) center/contain no-repeat;
}

.content h1 {
  font-weight: 100;
  font-size: 18.5px;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto 1.3em;
  width: 75%;
  color: $darkBlueTitle;
}

.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0, 20%, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name:fadeInUp;
}
