.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  display: -ms-flexbox;
}

.safeLogo {
  background: url(assets/images/gnosisSafeRgbSansDarkblue.svg) center/contain no-repeat;
  height: 103px;
  width: 103px;
  display: block;
  position: relative;
  margin: 9em auto 7em;
}

.safeTitle {
  background: url(../assets/gnosisSafeRgbNameDarkblue.svg) center/contain no-repeat;
  height: 20px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -28px;
}

.authTitle {
  position: absolute;
  font-size: 18.5px;
  text-align: center;
  color: $darkBlueTitle;
  bottom: -45px;
  left: -6px;
}

.content h1 {
  font-weight: 100;
  font-size: 18.5px;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto 1.5em;
  width: 75%;
  color: $darkBlueTitle;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0, 75%, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name:fadeInUp;
}
