.safe {
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 0;
  text-align: center;
}

.name {
  color:red;
}

.adress {
  color: green;
}

.inner-page {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.button {
  margin-bottom: 0;
}