.download-apps {
  text-align: center;
  padding: 20px 0 20px 0;
}

.download-app {
  float: left;
  width: 50%;
}

.app-link {
  cursor: pointer;
  width: 135px;
}

.title {
  padding: 0px 0 20px 0;
  text-align: center;
}
